.NavBar{
    z-index: 100;
    position: sticky;
    top: 0px;
    display: flex;
    flex-flow: row;
    background-color: black;
    color: white;
    justify-content:space-around;
    margin-bottom: 20px;
}

.NabBarItem{
    text-decoration: none;
    line-height: 50px;
    width: 100%;
    text-align: center;
    display: grid;
}
.NabBarItem i{
    font-size: 3em;
    text-decoration: none;
    color: white;
}
.NabBarItem:hover{
    background-color: #fff;
}
.NabBarItem:hover i{
    color: black;
    /*
    font-size: larger;
    font-weight: bolder;
    */
}