.cardItem{
    background-color: white;
    margin-bottom: 20px;
    border-radius: 10px;
}

.cardTitle{
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    position: relative;
    top: 0;
    background-color: black;
    color: white;
    font-size: 2em;
    text-align: center;
}

.cardContent{
    padding: 5px;
    display: flex;
}

.cardIcon{
    height: 120px;
}