@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #f1f1f1;
  --background-start-rgb: #353535;
  --background-end-rgb: #000000;
}

body {
  color: var(--foreground-rgb);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-rgb)
    )
    var(--background-start-rgb);
}
