@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #f1f1f1;
  --background-start-rgb: #353535;
  --background-end-rgb: #000000;
}

body {
  scroll-behavior: smooth;
  color: var(--foreground-rgb);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-rgb)
    )
    var(--background-start-rgb);
}

@layer utilities {
  

  .snap-y {
    --scroll-snap-direction: y;
  }

  .snap-mandatory {
    --scroll-snap-constraint: proximity;
  }

  .snap {
    scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
  }

  .snap-start {
    scroll-snap-align: start;
  }
}
